th, td {
	white-space: nowrap;
}
.dataTables_scrollHead {
	margin: 20px 0 0 0 !important;
}
.dataTables_paginate,
.dataTables_length,
.dataTables_info {
	display: inline-block;
	float: none !important;
	margin: 0 !important;
	padding: 0 10px !important;
	position: static !important;
}
.table-responsive {
	overflow-x:auto;
}
.error{
	color: red;
}
.app-inline {
	display: inline-block;
	padding: 5px;
}