<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.engdream.sys.mapper.ResourceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.engdream.sys.entity.Resource">
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="icon" property="icon" />
		<result column="url" property="url" />
		<result column="weight" property="weight" />
		<result column="parent_id" property="parentId" />
		<result column="parent_ids" property="parentIds" />
		<result column="identity" property="identity" />
		<result column="available" property="available" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	name, type, url, weight, parent_id AS parentId, parent_ids AS parentIds, icon, identity AS identity, available
    </sql>

</mapper>
