<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.engdream.sys.mapper.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.engdream.sys.entity.Role">
		<result column="role" property="role" />
		<result column="description" property="description" />
		<result column="resource_ids" property="resourceIds" />
		<result column="available" property="available" />
		<result column="deleted" property="deleted" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	role, description, resource_ids AS resourceIds, available
    </sql>

	<!-- 逻辑删除 -->
	<update id="markDelete" parameterType="java.io.Serializable">
		UPDATE sys_role SET deleted=1 where id=#{id}
	</update>

</mapper>
