<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.engdream.sys.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.engdream.sys.entity.User">
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="role_ids" property="roleIds"/>
		<result column="locked" property="locked" />
		<result column="nickname" property="nickname" />
		<result column="avatar" property="avatar" />
		<result column="email" property="email" />
		<result column="mobile" property="mobile" />
		<result column="qq" property="qq" />
		<result column="wechat" property="wechat" />
		<result column="deleted" property="deleted" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	username, password, salt, role_ids AS roleIds, locked, nickname, avatar, email, mobile, qq, wechat, deleted
    </sql>

	<!-- 逻辑删除 -->
	<update id="markDelete" parameterType="java.io.Serializable">
		UPDATE sys_user SET deleted=1 where id=#{id}
	</update>

</mapper>
