<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
		<property name="maxInactiveIntervalInSeconds" value="600" />
		<property name="redisNamespace" value="eng" />
	</bean>

	<bean class="org.springframework.session.config.annotation.web.http.SpringHttpSessionConfiguration"/>

   	<bean id="realm" class="org.engdream.security.realm.UserRealm" />
   	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="realm" />
	</bean>

	<bean id="sysUserFilter" class="org.engdream.security.filter.SysUserFilter"/>
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接 -->
		<property name="loginUrl" value="/login" />
		<property name="unauthorizedUrl" value="/forbidden" />
		<property name="filters">
			<util:map>
				<entry key="sysUser" value-ref="sysUserFilter"/>
			</util:map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/assets/** = anon
				/login/**=anon
				/**=sysUser,user,perms,roles
			</value>
		</property>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>